<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSA test for Software Engineering</title>
    <link rel="stylesheet" th:href="@{bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{style.css}" />

</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">HolyCross Medical Center</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/patients" class="nav-link">Patients</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Elderly Patients</a></li>
        </ul>
    </header>

    <main class="flex-shrink-1">
        <div class="container">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">List of All Registered Patients</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Patient Id</th>
                                        <th>Patient Number</th>
                                        <th>Full Name</th>
                                        <th>Email Address</th>
                                        <th>Contact Phone Number</th>
                                        <th>Date Of Birth</th>
                                        <th>Out Patient</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="patients: ${patients}">
                                        <td th:text="${patients.patientId}" />
                                        <td th:text="${patients.patientNumber}" />
                                        <td th:text="${patients.fullNames}" />
                                        <td th:text="${patients.emailAddress}" />
                                        <td th:text="${patients.contactPhoneNumber}" />
                                        <td th:text="${patients.dateOfBirth}" />
                                        <td th:if="${patients.isAnOutPatient}"><span
                                                class="badge text-bg-primary">Yes</span>
                                        </td>
                                        <td th:unless="${patients.isAnOutPatient}"><span
                                                class="badge text-bg-danger">No</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
</body>

</html>